.contact__container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_tittle{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    width: 60%;
    background-color: rgb(253,202,194);

    border-radius: 5px 5px 0 0;

    padding: 10px 0 0;
}

.contact_tittle h3{
    text-align:center;
    color: rgb(255, 250, 244);
}

.form{
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(253,202,194);
    border-radius: 0 0 10px 10px;
}

.form *{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form input:focus{
    outline: none;
    border: 1px solid rgb(175, 175, 175);
}

.msg {
    height: 140px;
}

.contact__btn:hover  {
    background-color: rgb(202, 162, 162);
    cursor: pointer;
    transition: 0.2s;
    scale: 1.05;

}
@media screen and (max-width: 600px){
    .contact__container{
        padding: 200px 0 0;
    }
    
    .contact_tittle{
        width: 100%;
    }

    .form{
        width: 100%;
        flex-direction: column;
    }

    .form *{
        width: 90%;
    }

    .msg_contact{
        display: flex;
        justify-content: center;
    }

    .info_contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form button {
        
        width: 85%;
    }
}